@import url(https://fonts.googleapis.com/css?family=Six+Caps);
.modernist {
    font-family: six caps;
    text-transform: uppercase;
    background: #D1EEEE;
    background-size: 100%;
    color: white;
    letter-spacing: .2em;
    font-size: 6rem;
    text-shadow: .07em .07em 0 #FF3743, .1em .1em 0 white;
}