<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width">

    <title>Lydia Samuels Professional Portfolio</title>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/static/style.scss" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div style="padding: 20px;">
        <div class="w3-container w3-teal" style="background-color:#D1EEEE;">
            <h1 style="text-align: center;" , style="font-family: Aclonica Font;" , style="font-size: x-large;">Lydia Samuel</h1>

        </div>

        <!-- <img src="images/LOGOTTR.png" > -->

        <div class="wrapper" style="padding: 20px;">
            <div class="w3-container w3-teal" style="background-color:black;">

            </div>
            <div class="type">
                <img src="/static/photos/type3.png" width="130px" height="130px" alt="" style="border-image: auto;" style="align-items: center;">
            </div>
            <div class="w3-container w3-red" style="background-color: whitesmoke;" style="color: cornsilk;" style="padding: 26px;">

                <h2>Portfolio</h2>

            </div>
            <div class="wrapper" style="padding: 20px;">
                <div class="w3-container w3-teal">
                    <div class="column">
                        <div class="card">
                            <p>
                                <a href="/templates/about.html">
                                    <img src="/static/photos/profilepic1-lydz.jpg" alt="about" style="width:100%"></a>
                            </p>
                            <div class="container">
                                <h2>About</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="column ">
                            <div class="card ">
                                <p>
                                    <a href="/templates/projects.html">
                                        <img src="/static/photos/projects1.jpg " alt="Jane " style="width:100% " style="border-image: auto; "></a>
                                </p>
                                <div class="container ">
                                    <h2>Projects</h2>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="column ">
                                <div class="card ">
                                    <img src="/static/photos/skills.jpg " alt="Jane " style="width:100% ">
                                    <div class="container ">
                                        <h2>Skills</h2>
                                    </div>
                                </div>
                            </div>


                            <div class="column">
                                <div class="card">
                                    <img src="/static/photos/3contact3.jpg" alt="contact" style="width:100%">
                                    <div class=" container ">
                                        <h2>Contact</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</div>
</div>
<footer>
    <div class="text-center copy-right-text " style=" text-emphasis-color: #39B7CD; ">
        © 2020 WooWooAnalytics, Inc. All Rights Reserved. <a href="/ ">Privacy Policy</a>
    </div>
</footer>

<!-- scripts -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js "></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</html>